@model Property
@{
    ViewData["Title"] = "Create";
}

    <form  asp-action="Create" method="post">
        <table>
            <tr>
                <td>Enter Property Name Name: </td>
                <td><input asp-for="Name" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
    </form>