
@{
    ViewData["Title"] = "GetStudentCourse";
}


<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<table id="studentTable">
    <thead>
        <tr>Name</tr>
    </thead>
</table>

@section scripts{ 
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#studentTable').DataTable({

                "ajax": {
                    "url": "/Student/GetCourse",
                    "type": "Get",
                    
                },
                "columns": [
                    { "data" : "Name"}
                ]
            });
        });
    </script>

   
}
